* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

html,
body {
    width: 100vw;
    height: 100vh;
  
}

table{
   width: 50%;
   height: 20%;
   margin: 20%;
  
}
td{
 width: 10%;

}

